body {
    background: url('foto2.png') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    color:black;
}
header {
    background-color: transparent;
    color:ghostwhite;
    padding: 10px 0;
    text-align: center;
}
header h1{
    margin:0;
}
nav ul li{
    display:inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blue;
}
.banner{
    text-align: center;
    background-color: black;
    padding: 80px 0;
}
body{
    background: url('foto2.png');
  
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 2px black;

}
header{
    background-color: #d2b48cbc;
    padding: 10px;
    text-align: center;
    color: #4b3f32;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
   
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.banner{
    text-align: center;
    background-color: #4b3f3290;
    padding: 80px 0;
}

section{
    padding: 20px;
    margin: 0 10px;
}
.cartao {
    border: 1px solid;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width:200px;
    vertical-align: top;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 4px 8px rgb(0,0,0,0.2);
    transition: 0,3s, ease, box-shadow 0,3s ease;
}
.cartao:hover{
    transform: translateX(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cartao img{
    width: 100%;
    border-radius: 8px;
}
