*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #086624;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header img{
    border-radius: 50%;
}
.container{
    width: 100vw;
    height: 50vh;
    display: flex;
    font-size: 18px;
}
nav{
    width: 200px;
    height: 90vh;
    background-color: #66d985;
    transition: .2s;
}

nav ul{
    list-style: none;
}

nav ul li{
    width: 200px;
    height: 40px;
    padding: 5px;
    color: rgb(47, 1, 1);
}

nav ul li:hover{
    cursor: pointer;
    background-color: #82bd58b5;
}

a{
    text-decoration: none;
    color: black;
}
.content{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
 
}
.box{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    background-color: #184f19b4;
    margin: 0.5rem;
    border: solid 2px #000;
}

main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section{
    padding: 1rem;
}

section ul{
    list-style-type: none;
}

.box p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-top: 10px;
}
.box #paciente_nome{
    font-weight: bold;
    font-size: 18px;
    margin: 0.5rem;
}
.box .info{
    height: 55%;
    display: flex;
    padding: 10 px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* border: 1px solid #555; */
}
.box .info .p{
    
    display: flex;
}

#voltar{
    background: #086624;
    padding: 1rem;
    border-radius: 14px;
    margin: 1rem;
    height: 3rem;
}