*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    width: 100vw;
    height: 100vh;
}
.container {
    width: 50vw;
    height: 50vh;
    height: 50vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    /*padding: 15px;*/
    align-items: center;
    justify-content: space-between;
    /*overflow-y: scroll;*/
}
.box{
    width: 50px;
    height: 50px;
    background-color: chartreuse;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: darkseagreen;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: yellow;
}

.menu{
    width: 500px;
    height: 50px;
    background-color: yellowgreen;
}