* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #37333221;
    color: #333;
}
nav {
    background: red;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

nav a:hover {
    color: #333;
}


header {
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-size: 2.5rem;
    color: black;
}

.container {
    width: 80%;
    margin: 30px auto;
}

.tabela {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0 12px;
}

.tabela tr {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tabela td {
    padding: 15px;
    font-size: 1.1rem;
}

.status-disponivel {
    color: green;
    font-weight: bold;
  
}

.status-reservada {
    color: red;
    font-weight: bold;
   
}

form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}



form button {
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: red;
}
